<div class="container">
  <div class="row col-8 center mx-auto">
    <form action="/answer" data-turbo="false" method="get">
      <input type="text" name="question" placeholder="Ask anything">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
